/* src/App.css */
.App {
  text-align: center;
}

.movie-card {
  border: 1px solid #ddd;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

.movie-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}